
/* Variables definitions
   ========================================================================== */

   $black: #000000;
   $white: #FFFFFF;
   $eyGrey: #707070;
   $eyOffBlack: #2E2E38;
   $eyMidnightBlack:#1a1a24;
   $eyBlack: #333333;
   $eyGrayDark: #404040;
   $eyGrayLight: #e0e0e1;
   $eyYellow: #FFE600;
   $eyOffYellow: #ddc805;
   $eyGrayPale: #DBDBE0;
   
   $eyPrimaryBlue: #71c6d0;
   $eyPrimaryGreen: #67be9c;
   $eyPrimaryPurple: #a182ba;

   $eyPrimaryPurple:#750E5C;
   $eyPrimaryOrange:#FF6D00;
   $eyPrimaryGreen: #2DB757;
   $eyPrimaryCyan:#27ACAA;
   $eyPrimaryBlue:#188CE5;
   $eyPrimaryPurpleDark:#3D108A;
   $eyPrimaryGray:#C4C4CD;
   $eyYellowPale:#E6D80E;
   $eyOffWhite:#F6F6FA;
   $eySharkGrey:#747480;

   $eyOffBlackOpac: rgba(46, 46, 56, 0.8);

   
   
   