 <!-- <li class="ptp__better-tile-list--item">
                    <a href="" target="_blank" class="ptp__better-tile-list--link">
                      <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                      <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                      <div class="ptp__better-tabs-tile--link-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                      </div>                    
                      <div class="ptp__better-tabs-tile--like-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                      </div>
                    </a>
                  </li>
                  <li class="ptp__better-tile-list--item">
                    <a href="" target="_blank" class="ptp__better-tile-list--link">
                      <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                      <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                      <div class="ptp__better-tabs-tile--link-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                      </div>                    
                      <div class="ptp__better-tabs-tile--like-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                      </div>
                    </a>
                  </li>
                  <li class="ptp__better-tile-list--item">
                    <a href="" target="_blank" class="ptp__better-tile-list--link">
                      <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                      <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                      <div class="ptp__better-tabs-tile--link-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                      </div>                    
                      <div class="ptp__better-tabs-tile--like-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                      </div>
                    </a>
                  </li>
                  <li class="ptp__better-tile-list--item">
                    <a href="" target="_blank" class="ptp__better-tile-list--link">
                      <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                      <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                      <div class="ptp__better-tabs-tile--link-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                      </div>                    
                      <div class="ptp__better-tabs-tile--like-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                      </div>
                    </a>
                  </li> -->
               
                <!-- <p ng-if="focusFeatureArr.length == 0" class="ptp__better-no-results p-3 m-auto"><h4>No Resources Founds</h4></p> -->
                 <!-- <li class="ptp__better-tile-list--item">
                      <a href="" target="_blank" class="ptp__better-tile-list--link">
                        <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                        <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                        <div class="ptp__better-tabs-tile--link-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                        </div>                    
                        <div class="ptp__better-tabs-tile--like-icon-cont">
                            <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                        </div>
                      </a>
                    </li>
                    <li class="ptp__better-tile-list--item">
                      <a href="" target="_blank" class="ptp__better-tile-list--link">
                        <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                        <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                        <div class="ptp__better-tabs-tile--link-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                        </div>                    
                        <div class="ptp__better-tabs-tile--like-icon-cont">
                            <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                        </div>
                      </a>
                    </li>
                    <li class="ptp__better-tile-list--item">
                      <a href="" target="_blank" class="ptp__better-tile-list--link">
                        <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                        <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                        <div class="ptp__better-tabs-tile--link-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                        </div>                    
                        <div class="ptp__better-tabs-tile--like-icon-cont">
                            <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                        </div>
                      </a>
                    </li> -->
                                 <!-- <li class="ptp__better-tile-list--item" ng-repeat="video in videoArr">
                    <a href="" target="_blank" class="ptp__better-tile-list--link">
                      <p class="ptp__better-tabs-tile--title">{{video.Title}}</p>
                      <p class="ptp__better-tabs-tile--desc">{{video.Description}}</p>
                      <div class="ptp__better-tabs-tile--link-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                      </div>                    
                      <div class="ptp__better-tabs-tile--like-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                      </div>
                    </a>
                  </li> -->
                  <!-- <li class="ptp__better-tile-list--item">
                    <a href="" target="_blank" class="ptp__better-tile-list--link">
                      <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                      <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                      <div class="ptp__better-tabs-tile--link-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                      </div>                    
                      <div class="ptp__better-tabs-tile--like-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                      </div>
                    </a>
                  </li>
                  <li class="ptp__better-tile-list--item">
                    <a href="" target="_blank" class="ptp__better-tile-list--link">
                      <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                      <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                      <div class="ptp__better-tabs-tile--link-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                      </div>                    
                      <div class="ptp__better-tabs-tile--like-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                      </div>
                    </a>
                  </li>
                  <li class="ptp__better-tile-list--item">
                    <a href="" target="_blank" class="ptp__better-tile-list--link">
                      <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                      <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                      <div class="ptp__better-tabs-tile--link-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                      </div>                    
                      <div class="ptp__better-tabs-tile--like-icon-cont">
                          <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                      </div>
                    </a>
                  </li> -->

                     <!-- <li class="ptp__better-tile-list--item ptp__video-focus-list--item">
                  <a href="" target="_blank" class="ptp__better-tile-list--link">
                    <iframe class="ptp__focus-iFrame" src="{{video.Link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="ptp__better-tabs-tile--link-icon-cont">
                      <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                    </div>                    
                    <div class="ptp__better-tabs-tile--like-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                    </div>
                  </a>
                </li> -->
                <!-- <li class="ptp__better-tile-list--item ptp__video-focus-list--item">
                  <a href="" target="_blank" class="ptp__better-tile-list--link">
                    <iframe class="ptp__focus-iFrame" src="https://www.youtube.com/embed/rcz9GAqNV6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="ptp__better-tabs-tile--link-icon-cont">
                      <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                    </div>                    
                    <div class="ptp__better-tabs-tile--like-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                    </div>
                  </a>
                </li>
                <li class="ptp__better-tile-list--item ptp__video-focus-list--item">
                  <a href="" target="_blank" class="ptp__better-tile-list--link">
                    <iframe class="ptp__focus-iFrame" src="https://www.youtube.com/embed/rcz9GAqNV6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="ptp__better-tabs-tile--link-icon-cont">
                      <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                    </div>                    
                    <div class="ptp__better-tabs-tile--like-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                    </div>
                  </a>
                </li>
                <li class="ptp__better-tile-list--item ptp__video-focus-list--item">
                  <a href="" target="_blank" class="ptp__better-tile-list--link">
                    <iframe class="ptp__focus-iFrame" src="https://www.youtube.com/embed/rcz9GAqNV6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="ptp__better-tabs-tile--link-icon-cont">
                      <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                    </div>                    
                    <div class="ptp__better-tabs-tile--like-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                    </div>
                  </a>
                </li> -->
                <!-- <li class="ptp__better-tile-list--item ptp__video-focus-list--item"> 
                  <a href="" target="_blank" class="ptp__better-tile-list--link">
                    <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                    <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                    <div class="ptp__better-tabs-tile--link-icon-cont">
                      <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                    </div>                    
                    <div class="ptp__better-tabs-tile--like-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                    </div>
                  </a>
                </li>-->
                  <!-- <li class="ptp__better-tile-list--item">
                  <a href="" target="_blank" class="ptp__better-tile-list--link">
                    <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                    <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                    <div class="ptp__better-tabs-tile--link-icon-cont">
                      <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                    </div>                    
                    <div class="ptp__better-tabs-tile--like-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                    </div>
                  </a>
                </li> -->
                <!-- <li class="ptp__better-tile-list--item">
                  <a href="" target="_blank" class="ptp__better-tile-list--link">
                    <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                    <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                    <div class="ptp__better-tabs-tile--link-icon-cont">
                      <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                    </div>                    
                    <div class="ptp__better-tabs-tile--like-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                    </div>
                  </a>
                </li>
                <li class="ptp__better-tile-list--item">
                  <a href="" target="_blank" class="ptp__better-tile-list--link">
                    <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                    <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                    <div class="ptp__better-tabs-tile--link-icon-cont">
                      <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                    </div>                    
                    <div class="ptp__better-tabs-tile--like-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                    </div>
                  </a>
                </li>
                <li class="ptp__better-tile-list--item">
                  <a href="" target="_blank" class="ptp__better-tile-list--link">
                    <p class="ptp__better-tabs-tile--title">Lorem, ipsum dolor.</p>
                    <p class="ptp__better-tabs-tile--desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, saepe!</p>
                    <div class="ptp__better-tabs-tile--link-icon-cont">
                      <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/link-icon.png?csf=1&web=1&e=rM7esD" alt="" class="ptp__better-tabs-tile--link-icon">
                    </div>                    
                    <div class="ptp__better-tabs-tile--like-icon-cont">
                        <img src="/sites/CSG-London-test/PTP_Indexed-Learning/SiteAssets/ptp_indexed-learning-site/assets/img/Icon%20awesome-thumbs-up-black.png?csf=1&web=1&e=TdEzYe" alt="" class="ptp__better-tabs-tile--like-icon">0
                    </div>
                  </a>
                </li> -->

                    <!-- <ol class="ptp__better-intro-list">
            <li class="ptp__better-intro-list--item">
                <p class="ptp__better-intro-list--title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis obcaecati unde vel maiores voluptatibus.</p>
                <p class="ptp__better-intro-list--desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis obcaecati unde vel maiores voluptatibus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis obcaecati unde vel maiores voluptatibus.</p>
            </li>
            <li class="ptp__better-intro-list--item">
                <p class="ptp__better-intro-list--title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis obcaecati unde vel maiores voluptatibus.</p>
                <p class="ptp__better-intro-list--desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis obcaecati unde vel maiores voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis obcaecati unde vel maiores voluptatibus.</p>
            </li>
            <li class="ptp__better-intro-list--item">
                <p class="ptp__better-intro-list--title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis obcaecati unde vel maiores voluptatibus.</p>
                <p class="ptp__better-intro-list--desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis obcaecati unde vel maiores voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis obcaecati unde vel maiores voluptatibus.</p>
            </li>
            <li class="ptp__better-intro-list--item">
                <p class="ptp__better-intro-list--title">Winning in the Market</p>
                <p class="ptp__better-intro-list--desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima corporis obcaecati unde vel maiores voluptatibus.Lorem ipsum dolor.  </p>
            </li>
        </ol> -->